/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  border-top: 1px solid #eaecef;
}
/* var(--hero-border-color) */
.heroSubtitle {
  color: var(--ifm-font-color-base);
  font-size: 1.5rem;
}

.heroLogo {
 width: 15%;
 height: 15%;
}

.heroBackground {
  background: url(https://fluid-imgs.oss-cn-shanghai.aliyuncs.com/public/imgs/background.png);
  background-size: 100% 100%;
  background-position-y: 4rem;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cncfLogo {
  height: 60px;
}

@media screen and (max-width: 768px) {
  .cncfLogo {
    height: 64px;
  }
}

.margin-horiz--sm, .margin-left--sm {
  margin-left: 1rem;
}

.margin-horiz--sm, .margin-right-sm {
  margin-right: 1rem;
}