/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #12579b;
  --ifm-color-primary-dark: #104e8b;
  --ifm-color-primary-darker: #0f4a84;
  --ifm-color-primary-darkest: #0d3d6d;
  --ifm-color-primary-light: #1460aa;
  --ifm-color-primary-lighter: #1564b2;
  --ifm-color-primary-lightest: #1771c9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #439fff;
  --ifm-color-primary-dark: #238fff;
  --ifm-color-primary-darker: #1386ff;
  --ifm-color-primary-darkest: #006ee1;
  --ifm-color-primary-light: #63afff;
  --ifm-color-primary-lighter: #73b8ff;
  --ifm-color-primary-lightest: #a4d0ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.cncf-logo {
  background: center no-repeat url('/img/homepage/cncf-color.svg');
}

html[data-theme='dark'] .cncf-logo {
  background: center no-repeat url('/img/homepage/cncf-white.svg');
}

table th {
  font-size: 0.9rem;
}

table td {
  --ifm-code-font-size: 95%;
  font-size: 0.9rem;
}

.markdown {
  font-size: 1.0rem;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.2rem;
}
.markdown > h2 {
  font-size: 1.8rem;
}
.markdown > h3 {
  font-size: 1.6rem;
}
.markdown > h4 {
  font-size: 1.4rem;
}

/* .theme-doc-sidebar-menu {
  font-size: 0.8rem;
} */

.sidebarItem_node_modules-\@docusaurus-theme-classic-lib-next-theme-BlogSidebar-styles-module {
  font-size: 0.7rem;
  margin-top: 2.0rem;
}
/* blog title font */
[class*='title_']:first-child {
  font-size: 2.0rem;
}
.table-of-contents__link {
  font-size: 0.9rem;
}
.pagination-nav__label {
  font-size: 1.0rem;
}

.runtime-compatibility {
  background-color: #d6eaff;
}